.Obstacle {
    width: 20px;
    height: 20px;
    /*background-color: yellow;*/
    position: relative;
    top: 130px;
    font-size: 100%;
    /* Don't show obstacles unless they're moving to you
       (i.e. game hasn't yet started). */
    display: none;
}

.animate-move {
    display: block;
    animation: block 2s infinite linear;
}

@keyframes block{
    0% {left: calc(100% - 20px)}
    100% {left: -20px}
}